:root {
  --white: #ffffff;
  --btn-bg: #11469C;
} 
.wrapper {
  width: 100%;
  // scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.one_list_height {
  height: 100vh;
}
.page_padding {
  padding: 60px 0;
}
.footer_padding {
  padding: 40px 0;
}
.height_ {
  scroll-snap-align: start;
  background-attachment: fixed;
}
 
.height_sm {
  height: 70vh;
  scroll-snap-align: start;
  background-attachment: fixed;
}
.btn_bg_ {
  text-transform: uppercase;
  background: var(--btn-bg);
  color: var(--white);
  padding: 10px 40px;
  border-radius: 100px;
  border: 2px solid #11469C;
  transition: 0.3s;
  &:hover {
    background: #11469c19;
    color: var(--white);
  }
}
.btn_bg_transparent {
  text-transform: uppercase;
  background: #11469C0f;
  padding: 10px 40px;
  border-radius: 100px;
  border: 2px solid #11469C;
  color: var(--btn-bg);
  transition: 0.3s;
  &:hover {
    background: var(--btn-bg);
    color: var(--white);
  }
}
@media screen and (max-width: 1000px) {
   
  .wrapper {
    width: 100%;
    scroll-snap-type: inherit;
    overflow-y: inherit;
    height: inherit;
  }
  .height_ {
    height: inherit;
    scroll-snap-align: inherit;
    background-attachment: inherit;
  }
 
  .height_sm {
    scroll-snap-align: inherit;
    background-attachment: inherit;
  }
  .page_padding {
    padding: 40px 0;
  }
  .footer_padding {
    padding: 20px 0;
  }
}
@media screen and (max-width: 500px) {
  .page_padding {
    padding: 30px 0;
  }
  .footer_padding {
    padding: 10px 0;
  }
  .height_sm {
    height: 55vh;
  }
  .btn_bg_ {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    background: var(--btn-bg);
    padding: 8px 30px;
    border-radius: 100px;
    border: 2px solid #11469C;
    transition: 0.3s;
    &:hover {
      background: #11469C0f;
      color: var(--white);
    }
  }
  .btn_bg_transparent {
    width: 100%;
    text-transform: uppercase;
    background: #11469C0f;
    padding: 8px 30px;
    border-radius: 100px;
    border: 2px solid #11469C;
    color: var(--btn-bg);
    transition: 0.3s;
    &:hover {
      background: var(--btn-bg);
      color: var(--white);
    }
  }
}
@media screen and (max-width: 450px) {
  .page_padding {
    padding: 20px 0;
  }
  .footer_padding {
    padding: 10px 0;
  }
  .height_sm {
    height: 45vh;
  }
  .btn_bg_ {
    font-size: 13px;
    width: 100%;
    text-transform: uppercase;
    background: var(--btn-bg);
    padding: 8px 30px;
    border-radius: 100px;
    border: 2px solid #11469C;
    transition: 0.3s;
    &:hover {
      background: #11469C0f;
      color: var(--white);
    }
  }
  .btn_bg_transparent {
    font-size: 15px;

    width: 100%;
    text-transform: uppercase;
    background: #11469C0f;
    padding: 8px 30px;
    border-radius: 100px;
    border: 2px solid #11469C;
    color: var(--btn-bg);
    transition: 0.3s;
    &:hover {
      background: var(--btn-bg);
      color: var(--white);
    }
  }
}
@media screen and (max-width: 400px) {
  .height_sm {
    height: 40vh;
  }
} 
