:root {
  --white: #ffffff;
  --btn-bg: #11469C;
}
.partners_container {
  background: linear-gradient(
      180deg,
      #01020b,
      #01020bb6,
      #0000008c,
      #020308b6,
      #000000c7,
      #000000c1,
      #000000
    ),
    url(../../assets/background/bg.jpg), bottom no-repeat;
  background-size: cover;
  .content_ { 
    display: flex; 
    justify-content: center;
    flex-direction: column;
    .name_ {
        text-align: center; 
      color: var(--btn-bg);
      text-transform: uppercase;
      font-size: 20px;
    }
    .title_ {
      text-align: center;
      font-size: 42px;
      color: var(--white);
      margin-top: 10px;
    }
    .carousel_ {  
        margin-top: 30px; 
     .box_{
        display: flex;
        align-items: center;
        justify-content: center; 
        height: 100px;
        background: #1E1056; 
        border-radius: 20px;
        transition: 0.3s;
        &:hover{
        background: #1e105691;  
        }
        .category_img{  
            object-fit: cover;
            max-width: 100%;
        }
     }
    }
    .titl{
        font-size: 20px;
        margin-top: 60px;
        color: var(--white);
    }
    .text_{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        .bady_{
            margin-top: 20px;
            width: 48%;
            font-size: 16px;
            color: #d1eaee;
        }
    }
    .div_btn{
        display: flex;
        justify-content: center;
    }
  }
}



@media screen and (max-width:992px){
  .partners_container {
    background: linear-gradient(
        180deg,
        #01020b,
        #01020bb6,
        #0000008c,
        #020308b6,
        #000000c7,
        #000000c1,
        #000000
      ),
      url(../../assets/background/bg.jpg), bottom no-repeat;
    background-size: cover;
    .content_ { 
      display: flex; 
      justify-content: center;
      flex-direction: column;
      .name_ {
          text-align: center; 
        color: var(--btn-bg);
        text-transform: uppercase;
        font-size: 20px;
      }
      .title_ {
        text-align: center;
        font-size: 35px;
        color: var(--white);
        margin-top: 10px;
      }
      .carousel_ {  
          margin-top: 20px; 
       .box_{
          display: flex;
          align-items: center;
          justify-content: center; 
          height: 70px;
          background: #1E1056; 
          border-radius: 20px;
          transition: 0.3s;
          &:hover{
          background: #1e105691;  
          }
          .category_img{  
              object-fit: cover;
              max-width: 100%;
          }
       }
      }
      .titl{
          font-size: 17px;
          margin-top: 30px;
          color: var(--white);
          text-align: center;
      }
      .text_{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 40px;
          text-align: center;
          .bady_{
              margin-top: 20px;
              width: 100%;
              font-size: 13px;
              color: #d1eaee;
          }
      }
      .div_btn{
          display: flex;
          justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 576px){
  .partners_container {
    background: linear-gradient(
        180deg,
        #01020b,
        #01020bb6,
        #0000008c,
        #020308b6,
        #000000c7,
        #000000c1,
        #000000
      ),
      url(../../assets/background/bg.jpg), bottom no-repeat;
    background-size: cover;
    .content_ { 
      display: flex; 
      justify-content: center;
      flex-direction: column;
      .name_ {
          text-align: center; 
        color: var(--btn-bg);
        text-transform: uppercase;
        font-size: 18px;
      }
      .title_ {
        text-align: center;
        font-size: 30px;
        color: var(--white);
        margin-top: 10px;
      }
      .carousel_ {  
          margin-top: 14px; 
       .box_{
          display: flex;
          align-items: center;
          justify-content: center; 
          height: 70px;
          background: #1E1056; 
          border-radius: 20px;
          transition: 0.3s;
          &:hover{
          background: #1e105691;  
          }
          .category_img{  
              object-fit: cover;
              max-width: 100%;
          }
       }
      }
      .titl{
          font-size: 15px;
          margin-top: 20px;
          color: var(--white);
          text-align: center;
      }
      .text_{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 20px;
          text-align: center;
          .bady_{
              margin-top: 15px;
              width: 100%;
              font-size: 13px;
              color: #d1eaee;
          }
      }
      .div_btn{
          display: flex;
          justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 450px){
  .partners_container {
    background: linear-gradient(
        180deg,
        #01020b,
        #01020bb6,
        #0000008c,
        #020308b6,
        #000000c7,
        #000000c1,
        #000000
      ),
      url(../../assets/background/bg.jpg), bottom no-repeat;
    background-size: cover;
    .content_ { 
      display: flex; 
      justify-content: center;
      flex-direction: column;
      .name_ {
          text-align: center; 
        color: var(--btn-bg);
        text-transform: uppercase;
        font-size: 13px;
      }
      .title_ {
        text-align: center;
        font-size: 22px;
        color: var(--white);
        margin-top: 10px;
      }
      .carousel_ {  
          margin-top: 14px; 
       .box_{
          display: flex;
          align-items: center;
          justify-content: center; 
          height: 70px;
          background: #1E1056; 
          border-radius: 20px;
          transition: 0.3s;
          &:hover{
          background: #1e105691;  
          }
          .category_img{  
              object-fit: cover;
              max-width: 100%;
          }
       }
      }
      .titl{
          font-size: 15px;
          margin-top: 20px;
          color: var(--white);
          text-align: center;
      }
      .text_{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-bottom: 20px;
          text-align: center;
          .bady_{
              margin-top: 15px;
              width: 100%;
              font-size: 13px;
              color: #d1eaee;
          }
      }
      .div_btn{
          display: flex;
          justify-content: center;
      }
    }
  }
}