// Navbar style--------------------------
:root {
  --white: #ffffff;
  --btn-bg: #11469C;
}
.nav_ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 20px 0 5px 0;
  .logo {
    width: 160px;
  }
  a {
    color: var(--white);
    text-transform: uppercase;
  }
  li {
    list-style: none;
  }
  .ul_ {
    display: flex;
    align-items: center;
    padding-top: 20px;
    li {
      padding: 0 30px;
      .link_ {
        font-size: 15px;
        position: relative;
        color: #ffffff;
        &::before {
          transition: 0.3s;
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 0;
          height: 2px;
          background: var(--white);
        }
        &:hover::before {
          width: 100%;
        }
      }
    } 
     
  }
}
.nav_bar {
  display: none;
}
.nav_menu {
  z-index: 1212;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #000000f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.5s;
  transform: translateY(-100vh);
  .iconbutton_ {
    position: absolute;
    right: 30px;
    top: 20px;
    .icon_ {
      color: white;
      font-size: 38px;
    }
  }
  .logo {
    width: 160px;
  }
  a {
    color: var(--white);
    text-transform: uppercase;
  }
  li {
    list-style: none;
  }
  .ul_ {
    display: flex;
    align-items: center;
    flex-direction: column;
    li {
      padding: 20px 0;
      .link_ {
        position: relative;
        color: var(--white);
        &::before {
          transition: 0.3s;
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 0;
          height: 2px;
          background: var(--white);
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
    
  }
}
.nav_menu.active_ {
  transform: translateY(0);
}
@media screen and (max-width: 1210px) {
  .nav_ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 145px;
    }
    a {
      color: var(--white);
      text-transform: uppercase;
    }
    li {
      list-style: none;
    }
    .ul_ {
      display: flex;
      align-items: center;
      li {
        padding: 0 12px;
        .link_ {
          position: relative;
          font-size: 14px;
          &::before {
            transition: 0.3s;
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 2px;
            background: var(--white);
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .nav_ {
    display: none;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 140px;
    }
    a {
      color: var(--white);
      text-transform: uppercase;
    }
    li {
      list-style: none;
    }
    .ul_ {
      display: flex;
      align-items: center;
      li {
        padding: 0 20px;
        .link_ {
          position: relative;
          font-size: 14px;
          &::before {
            transition: 0.3s;
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 2px;
            background: var(--white);
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
     
    }
  }
  .nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 145px;
    }
    a {
      color: var(--white);
      text-transform: uppercase;
    }
    li {
      list-style: none;
    }
    .ul_ {
      display: flex;
      align-items: center;

      padding-top: 20px;
      li {
        .icon_ {
          font-size: 38px;
          color: white;
        }
      }
       
    }
  }
}
@media screen and (max-width: 500px) {
  .ul_logo {
    padding: 0 !important;
  }
  .nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 135px;
    }
    a {
      color: var(--white);
      text-transform: uppercase;
    }
    li {
      list-style: none;
    }

    .ul_ {
      display: flex;
      align-items: center;
      li {
        .icon_ {
          font-size: 34px;
          color: white;
        }
      }
    }
  }
  .nav_menu {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #000000f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    transform: translateY(-100vh);
    .iconbutton_ {
      position: absolute;
      right: 30px;
      top: 20px;
      .icon_ {
        color: white;
        font-size: 38px;
      }
    }
    .logo {
      width: 150px;
    }
    a {
      color: var(--white);
      text-transform: uppercase;
    }
    li {
      list-style: none;
    }
    .ul_ {
      display: flex;
      align-items: center;
      flex-direction: column;
      li {
        padding: 20px 0;
        .link_ {
          font-size: 14px;
          position: relative;
          color: var(--white);
          &::before {
            transition: 0.3s;
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 2px;
            background: var(--white);
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 125px;
    }
    a {
      color: var(--white);
      text-transform: uppercase;
    }
    li {
      list-style: none;
    }

    .ul_ {
      display: flex;
      align-items: center;
      li {
        .icon_ {
          font-size: 28px;
          color: white;
        }
      }
    }
  }
  .nav_menu {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #000000f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    transform: translateY(-100vh);
    .iconbutton_ {
      position: absolute;
      right: 30px;
      top: 20px;
      .icon_ {
        color: white;
        font-size: 28px;
      }
    }
    .logo {
      width: 145px;
    }
    a {
      color: var(--white);
      text-transform: uppercase;
    }
    li {
      list-style: none;
    }
    .ul_ {
      display: flex;
      align-items: center;
      flex-direction: column;
      li {
        padding: 20px 0;
        .link_ {
          font-size: 13px;
          position: relative;
          color: var(--white);
          &::before {
            transition: 0.3s;
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 1px;
            background: var(--white);
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
}
